<html>
<include file="Public:header"/>
<div class="toolbar cf" style="margin:18px 70px;">
	<div class="tool_date cf">
		<div class="title cf">
			<div class="more form" id="ver_keys">			
				<form action="{:U('User/index')}" method="post" class="fl">
					用户名: 
					<input type="text" name="username" value="{$param.username}" style="width:95px;"/>&nbsp;&nbsp;
					电话: 
					<input type="text" name="mobile" value="{$param.mobile}" style="width:95px;"/>&nbsp;&nbsp;
                   	邮箱: 
					<input type="text" name="web_site" value="{$param.email}" style="width:95px;"/>&nbsp;&nbsp;
					<input type="submit"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" value="搜索">
					&nbsp;&nbsp;
					<input type="button"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" value="新建" onclick="ModifySsoUser('')">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- -->
<div style="margin:10px 35px;">
	<div class="column cf datashow">
		<table  width="70%" cellpadding="5" cellspacing="3" class="contab">
			<thead>
				<tr>
					<th>用户ID</th>
					<th>用户名</th>
					<th>电话</th>
					<th>邮箱</th>
					<th>组别</th>
					<th>状态</th>
					<th>创建时间</th>	
					<th>修改时间</th>	
					<th>操作</th>	
				</tr>
			</thead>		
			<tbody class="dataTab">
				<foreach name="user_list" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo.username}</td>
						<td>{$vo.mobile}</td>
						<td>{$vo.email}</td>
						<td><if condition="$vo.u_grp eq 1">管理员<else/>普通用户</if></td>
						<td><if condition="$vo.status eq 1">正常<else/>禁用</if></td>
						<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
						<td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
						<td>
							<input type="button"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" value="编辑" onclick="ModifySsoUser({$vo.id})">
						</td>
					</tr>	
				</foreach>
			</tbody>
		</table>
	</div>
	<div class="page">{$pageLink}</div>	
</div>
<!-- 编辑站点 -->
<div id="sso_user_dlg" style="display: none;" title="编辑sso用户信息">
    <div class="validateTips" id="ssouTips" style="display:none;"></div>
    <form name="ssouForm" id="ssouForm" method="post" action="" target="_blank">
    	<input type="hidden" name="id" id="id" value="" />
        <div class="bill">
        	<div style="width: 100%;margin-top:10px;" class="bill-item">
                <div style="width: 26%;" class="bill-item-left">用户名：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="text" id="username" name="username" style="width:220px;"/>
                </div>
            </div>
            <div style="width: 100%;margin-top:10px;" class="bill-item">
                <div style="width: 26%;" class="bill-item-left">电话：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="text" id="mobile" name="mobile" style="width:220px;"/>
                </div>
            </div>
            <div style="width: 100%;margin-top:10px;" class="bill-item">
                <div style="width: 26%;" class="bill-item-left">邮箱：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="text" id="email" name="email" style="width:220px;"/>
                </div>
            </div>
            <div style="width: 100%;margin-top:10px;" class="bill-item">
                <div style="width: 26%;" class="bill-item-left">密码：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="password" name="passwd" style="width:220px;"/>
                </div>
            </div>
        	<div style="width: 100%;margin-top:10px;" class="bill-item">
                <div style="width: 26%;" class="bill-item-left">状态：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <select name="u_grp" id="u_grp">
                   		<option value="1">正常</option>
	                	<option value="0">禁用</option>
                	</select>
                </div>
            </div>
            <div style="width: 100%;margin-top:10px;" class="bill-item">
                <div style="width: 26%;" class="bill-item-left">所属组别：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <select name="status" id="status">
                   		<option value="0">普通用户</option>
                   		<option value="1">管理员</option>
                	</select>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<script language='javascript'>
function ModifySsoUser(id){
	if( !isNaN(id) )  { //修改
		$.ajax({
			type: 'post',
			url: '{:U("User/getOne")}',
			data: {'id':id},
			async: true,
			dataType: 'json', 
			success: function(data) {
				if (data.status == 1) {
					$.each(data.user_info, function(i, v){
						if(i== 'status' || i=='u_grp') { //编辑框赋值
							$("#"+i).find("option[value="+v+"]").attr("selected", true);
						}else{
							$("#"+i).val(v);
						}
					});
				} 
			}
		});
	}
	$('#sso_user_dlg').dialog({	   
	    autoOpen: true,
		modal: true,
        show:'slide',
        hide:'slide',
        title: '编辑sso用户信息',
		resizable: false,
		height:475,	
		width: 550,
		buttons:{
	    	'关闭': function() {
	    		$('#sso_user_dlg').dialog('close');
			 },
			'确定': function() {
				$.ajax({
					type: 'post',
					url: '{:U("User/createSsoUser")}',
					data: $('#ssouForm').serializeArray(),
					async: true,
					dataType: 'json', //xml, json, script or html
					success: function(data) {
						if (data.status == 1) {
							$('#sso_user_dlg').dialog('close');
							//修改密码重新登录系统
							location.href = '{:U("User/index")}';
						} else {
							message('ssouTips', data.info);
						}
					}
				});
			}
		}	 
	});
}
</script>